<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268408603825-sisilalapvce7ft44lsmuq62m3kqjltc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268408603825-sisilalapvce7ft44lsmuq62m3kqjltc</string>
	<key>API_KEY</key>
	<string>AIzaSyAaWNqCIJp-qznmuiawPBvhWF1lTuUP6JE</string>
	<key>GCM_SENDER_ID</key>
	<string>268408603825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wonbeen.YagomMarket</string>
	<key>PROJECT_ID</key>
	<string>yagom-market</string>
	<key>STORAGE_BUCKET</key>
	<string>yagom-market.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268408603825:ios:1ca94da75e33e075d80e90</string>
</dict>
</plist>